@import './components/sys-menu-header/sys-menu-header';

.sys-menu {
  @include standardBorders;

  background: $main-gray;
  position: absolute;
  bottom: calc(#{$sys-bar-height} - 3px);
  height: 300px;
  width: 180px;
  margin-left: 2px;
  z-index: 10;
  overflow: hidden;
  transition: height 150ms, visibility 100ms;

  &__hidden {
    height: 0;
    visibility: hidden;
  }
}
