.button {
  margin-left: 3px;

  background: $primary-gray;
  border-top-color: $primary-white;
  border-left-color: $primary-white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:active {
    background: $gray-dark-1;
    border-bottom-color: $primary-white;
    border-right-color: $primary-white;
    border-top-color: $gray-dark-2;
    border-left-color: $gray-dark-2;
  }

  &--small {
    width: 20px;
    height: 20px;
    padding: 0;
  }
}
