$desktop-bg: #378180;
$primary-blue: #00008b;
$primary-gray: #c0c0c0;
$primary-white: #ffffff;
$primary-black: #000000;

$gray-dark-1: #aaaaaa;
$gray-dark-2: #999999;
$gray-dark-3: #777777;
$gray-dark-4: #555555;
$gray-dark-5: #222222;
