.sys-menu-btn {
  @include sys-bar-sizing;

  background: $main-gray;
  border-top-color: $white;
  border-left-color: $white;
  cursor: pointer;

  &:active {
    background: $gray-dark-1;
    border-width: 2px;
    margin-top: 3px;
    margin-left: 3px;
    border-bottom-color: $white;
    border-right-color: $white;
    border-top-color: $gray-dark-2;
    border-left-color: $gray-dark-2;
  }

  &__icon {
    margin-right: 5px;
  }
}
