@import './components/sys-card-header-bar/sys-card-header-bar';

.sys-card {
  @include standard-border;

  position: absolute;
  background: $primary-gray;
  width: 600px;
  height: 400px;
  top: 50px;
  left: 30px;
}
